body {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    background-color: beige;
    font-family: 'Rubik';
}

#calculator-wrapper {
    border: 2px black solid;
    border-radius: 5%;
    padding: 20px;
    background-color: white;
}

button {
    background-color: white;
    display: inline;
    width: 50px;
    height: 20px;
}